data
venv
zarr_n5
**/.ipynb_checkpoints/*
__pycache__/
**/__py_cache__/
.vscode/
.pytest_cache
*.pyc
*.pyo
logs
venv
*.jp2
*.jpg
zarr_store
data/example.sync
data/example.sync/brain_244/*
zarr_n5/
db.sqlite3
sample_lowres.png
nohup.out
CONCH
logs
*.log
error_log.txt
*.ipynb
